<link rel="icon" type="image/png" sizes="196x196" href='{{ glide :src="site_icon" width="196" height="196" fit="crop" format="png" }}'>
<link rel="icon" type="image/png" sizes="192x192" href='{{ glide :src="site_icon" width="192" height="192" fit="crop" format="png" }}'>
<link rel="apple-touch-icon" sizes="180x180" href='{{ glide :src="site_icon" width="180" height="180" fit="crop" format="png" }}'>
<link rel="apple-touch-icon" sizes="152x152" href='{{ glide :src="site_icon" width="152" height="152" fit="crop" format="png" }}'>
<link rel="icon" type="image/png" sizes="120x120" href='{{ glide :src="site_icon" width="120" height="120" fit="crop" format="png" }}'>
<link rel="icon" type="image/png" sizes="48x48" href='{{ glide :src="site_icon" width="48" height="48" fit="crop" format="png" }}'>
<link rel="icon" type="image/png" sizes="32x32" href='{{ glide :src="site_icon" width="32" height="32" fit="crop" format="png" }}'>
<link rel="icon" type="image/png" sizes="16x16" href='{{ glide :src="site_icon" width="16" height="16" fit="crop" format="png" }}'>
<meta name="msapplication-TileColor" content="{{ highlight_color }}">
<meta name="theme-color" content="#ffffff">
