<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>{{ if segment_1 }}{{ title }} | {{ /if }}{{ relate:site_owner }}{{ first_name }} {{ last_name }}{{ /relate:site_owner }}</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<meta property="og:locale" content="{{ locale_full }}" />
<meta property="og:title" name="twitter:title" content="{{ page_title|truncate:70 or title|truncate:70 }}">
<meta property="og:description" name="twitter:description" content="{{ page_description|truncate:200 or content|striptags|truncate:200 }}">
<meta property="og:url" content="{{ permalink }}">
<meta property="og:site_name" content="{{ relate:site_owner }}{{ first_name }} {{ last_name }}{{ /relate:site_owner }}">

{{ if fb_app_id }}<meta property="fb:app_id" content="{{ fb_app_id }}">{{ endif }}
{{ if fb_admins }}<meta property="fb:admins" content="{{ fb_admins }}">{{ endif }}

<link rel="canonical" href="{{ locale_url }}" />
{{ href_lang }}
  <link rel="alternate" hreflang="{{ lang }}" href="{{ url }}" />
{{ /href_lang }}
