.side-by-side--media-landscape {
  &.side-by-side {
    &__title {
      flex: 2 1 100%;
      order: 1;
    }
  }
}

// Medium devices (tablets, 992px and up)
@include media-breakpoint-up(lg) {
  .side-by-side--media-landscape {
    $padding-h: 40px;

    .side-by-side {
      &__title {
        padding: 0 $padding-h;
        padding: 0 calc(50% + #{$padding-h}) 0 $padding-h;
      }
    }

    &:nth-child(even) {
      .side-by-side {
        &__title {
          padding: 0 $padding-h 0 calc(50% + #{$padding-h});
        }
      }
    }
  }
}

// Medium devices (tablets, 1200px and up)
@include media-breakpoint-up(xl) {
  .side-by-side--media-landscape {
    $padding-h: 40px;
    $aside-w: 100px;

    .side-by-side {
      &__title {
        padding: 0 calc(50% + #{$padding-h} + #{$aside-w}) 0 $padding-h;
      }
    }

    &:nth-child(even) {
      .side-by-side {
        &__title {
          padding: 0 $padding-h 0 calc(50% + #{$padding-h} + #{$aside-w});
        }
      }
    }
  }
}
