<div class="artworks-multiple artworks-multiple--{{ artworks-multiple_display }}">
  {{ if artworks-multiple_type }}
    {{ collection:artworks as="artwork" sort="{artworks-multiple_sort}" limit="{artworks-multiple_limit}" artwork_type:is="{artworks-multiple_type}" paginate="true" }}
      {{ artwork }}
        <div class="artworks-multiple__item" itemscope itemtype="http://schema.org/VisualArtwork" 
             style="{{ if artwork_background_color }}--background: {{ artwork_background_color }}; {{ /if }}
                    {{ if artwork_text_color }}--text: {{ artwork_text_color }}; {{ /if }}
                    {{ if artwork_highlight_color }}--highlight: {{ artwork_highlight_color }};{{ /if }}
                    background-color: var(--background); 
                    color: var(--text);">
          {{ components }}
            {{ partial src="components/{type}" }}
          {{ /components }}
        </div>
      {{ /artwork }}

      {{ paginate }}
        <div class="container-fluid paginate text-center text-md-right">
          <a href="{{ prev_page }}" class="paginate__btn paginate__prev {{ if !prev_page }}paginate__btn--disabled{{ /if }}">{{ lbl_prev}}</a>
          
          {{ current_page }} - {{ total_pages }}
          <!-- <small>[{{ total_items }} résultats]</small> -->

          <a href="{{ next_page }}" class="paginate__btn paginate__next {{ if !next_page }}paginate__btn--disabled{{ /if }}">{{ lbl_next }}</a>
        </div>
      {{ /paginate }}
    {{ /collection:artworks }}
  {{ else}}
    {{ collection:artworks as="artwork" sort="{artworks-multiple_sort}" limit="{artworks-multiple_limit}" }}
      {{ artwork }}
        <div itemscope itemtype="http://schema.org/VisualArtwork">
          {{ components }}
            {{ partial src="components/{type}" }}
          {{ /components }}
        </div>
      {{ /artwork }}
    {{ /collection:artworks }}
  {{/if}}
</div>
