<section class="section">
    <div class="container">
        <div class="swiper swiper--gallery">
            <div class="swiper-container js-gallery-swiper">
                <ul class="swiper-wrapper">
                    {{ pictures_list }}
                        <li class="swiper-slide">
                            <picture class="swiper__picture">
                                <source srcset="{{ glide:value height='512' }}" media="(min-height: 800px)">
                                <source srcset="{{ glide:value height='412' }}" media="(min-height: 700px)">
                                <source srcset="{{ glide:value height='312' }}" media="(min-height: 600px)">
                                <source srcset="{{ glide:value height='212' }}" media="(min-height: 500px)">
                                <img src="{{ value }}" width="{{ width }}" height="{{ height }}" alt="{{ alt }}" />
                            </picture>
                        </li>
                    {{ /pictures_list }}
                </ul>
            </div>
        </div>
    </div>
</section>