<section class="section">
    <div class="container">
        <div class="swiper swiper--gallery">
            <div class="swiper-container js-gallery-swiper">
                <ul class="swiper-wrapper">
                    {{ assets:pictures_list }}
                        <li class="swiper-slide" itemprop="image" itemscope itemtype="http://schema.org/ImageObject">
                            <picture class="swiper__picture">
                                <source srcset="{{ glide:url height='1024' width='2400' fit='contain' }}" media="(-webkit-min-device-pixel-ratio: 2) and (min-height: 800px)">
                                <source srcset="{{ glide:url height='824' width='2400' fit='contain' }}" media="(-webkit-min-device-pixel-ratio: 2) and (min-height: 700px)">
                                <source srcset="{{ glide:url height='624' width='2400' fit='contain' }}" media="(-webkit-min-device-pixel-ratio: 2) and (min-height: 600px)">
                                <source srcset="{{ glide:url height='424' width='2400' fit='contain' }}" media="(-webkit-min-device-pixel-ratio: 2) and (min-height: 500px)">
                                <source srcset="{{ glide:url height='512' width='1200' fit='contain' }}" media="(min-height: 800px)">
                                <source srcset="{{ glide:url height='412' width='1200' fit='contain' }}" media="(min-height: 700px)">
                                <source srcset="{{ glide:url height='312' width='1200' fit='contain' }}" media="(min-height: 600px)">
                                <source srcset="{{ glide:url height='212' width='1200' fit='contain' }}" media="(min-height: 500px)">
                                <img src="{{ url }}" width="{{ width }}px" height="{{ height}}px" alt="{{ alt }}" class="js-popup-image" data-src="{{ url }}" itemprop='contentUrl' />
                            </picture>
                            {{ if alt }}
                              <meta itemprop="name" content="{{ alt }}">
                            {{ /if }}
                        </li>
                    {{ /assets:pictures_list }}
                </ul>
                <div class="swiper-scrollbar"></div> 
            </div>
        </div>
    </div>
</section>