<section class="section section--no-margin">
    <div class="slider">
        <!-- <div class="slider__wrapper" style="width: calc((100vh - 137px - 137px) /2 *1.777778 * ({{ collection:count in='artworks' }}/2) )"> -->
            <div class="slider__wrapper">
            {{ collection:artworks as="artwork" sort="{preview-artworks_sort}" limit="{preview-artworks_limit}" artwork_type:is="{preview-artwork_type}" }}
                {{ artwork }}
                    {{ if index % 2 }}{{ /if }}
                    <div class="slider__tile {{ assets:artwork_preview }}{{ if width > height}}slider__tile--horizontal{{else}}slider__tile--vertical{{/if}}{{ /assets:artwork_preview }}">
                        <a href="{{ url }}" class="card" style="">
                            <span class="card__title">{{ title }}</span>
                            
                            <picture class="card__media">
                                <source srcset="{{ glide:artwork_preview width='350' height='200' }}" media="(min-width: 992px)">
                                <img src="{{ artwork_preview }}" />
                            </picture>

                            <span class="card__overlay"></span>
                        </a>                    
                    </div>
                {{ /artwork }}
            {{ /collection:artworks }}
        </div>
    </div>
</section>