<section class="section textblock">
  <div class="container-fluid">
    {{ if textblock_title === 'true' }}
    <div class="textblock__wrapper">
      <h1 class="textblock__title" itemprop="name">{{ title }}</h1>
    </div>
    {{ /if}}

    <div class="textblock__wrapper">
      {{ if textblock_text }}
        <div class="textblock__content">
            <div class="textblock__text textblock__text--{{ textblock_columns }}" itemprop="description">{{ textblock_text }}</div>
        </div>
      {{ /if }}
    </div>
  </div>
</section>
