<section class="section textblock{{ if textblock_metas !== 'false' }} textblock{{ textblock_metas }}{{ /if }}">
  <div class="container">
    {{ if textblock_title === 'true' }}
    <div class="textblock__wrapper">
      <h1 class="textblock__title" itemprop="name">{{ title }}</h1>
    </div>
    {{ /if}}

    <div class="textblock__wrapper">
      {{ if textblock_text }}
        <div class="textblock__content">
            <div class="textblock__text textblock__text--{{ textblock_columns }}" itemprop="description">{{ textblock_text }}</div>
        </div>
      {{ /if }}

      {{ if textblock_metas !== 'false' }}
        {{ partial src="components/artwork-meta" }}
      {{ /if }}
    </div>
  </div>
</section>
