html,
body {
  background: #fff;
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
}

html {
  font: 300 10px/1.4 Helvetica, Arial, sans-serif;
}

body {
  font-size: 1.6rem; // 14px
  line-height: 1.8;
}

main {
  position: relative;
  overflow-x: hidden;
}

p,
ol,
ul {
  margin: 0.5em 0;
}

.sr-only {
  @extend %sr-only;
}

@include media-breakpoint-up(lg) {
  main {
    --main: calc(100vh - 4 * var(--gutter) - var(--header) - var(--footer) );

    height: var(--main);
  }
}
