.split {
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  &__content,
  &__media {
    flex: 0 0 100%;
  }

  &__content {
    order: 1;

    > * {
      @extend %remove-ends-vertical-margin;
    }
  }

  &__title {
    @extend %h1;
  }

  &__text {
    margin: 20px 0;
    column-gap: var(--gutter);

    a {
      @extend %href;
    }

    > * {
      @extend %remove-ends-vertical-margin;
    }
  }

  &__media {
    position: relative;
    order: 0;

    img {
      display: block;
      max-width: calc(100% + var(--gutter) * 2);
      margin: 0 calc(var(--gutter) * -1) var(--gutter);
      height: auto;
    }
  }

  &__picture {
    display: block;
    max-width: 100%;
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  .split {
    &__wrapper {
      flex-wrap: nowrap;
    }

    &__content {
      flex: 0 1 auto;
      order: 0;
      padding: 0 var(--gutter) 0 0;
    }

    &__media {
      flex: 0 0 50%;
      order: 1;

      img {
        width: auto;
        height: auto;
        max-width: 100%;
        margin: 0 auto;
      }
    }

    &--reversed & {
      &__content {
        order: 1;
        padding: 0 0 0 var(--gutter);
      }

      &__media {
        order: 0;
      }
    }
  }
}

@media (min-width: 992px) {
  .split {
    &__media {
      &--portrait {
        flex: 0 0 33.333333%;

        + .split__content {
          .split__text {
            &--multi-column {
              column-count: 2;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  .split {
    &__media {
      &--landscape {
        flex: 0 0 66.666666%;
      }
    }
  }
}
