.swiper {
    &-container {
        --height: var(--main);

        height: var(--main);
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        overflow: visible;
    }

    &-wrapper {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    &-slide {
        position: relative;
    }

    .card {
        position: relative;
        width: 100%;
        height: 100%;
    }

    &__picture {
        display: block;

        img {
            display: block;
        }
    }

    &--hub {
        .swiper {
            &-slide {
                height: calc(50% - 10px);
            }
        }
    }

    &--gallery {
        .swiper {
            &-slide {
                width: auto;
                height: 100%;
            }
        }
    }
}