.textblock {
  &__wrapper {
    display: flex;
  }

  &__title {
    @extend %h1;
  }

  &__text {
    flex: 0 1 auto;
    order: 1;

    > * {
      @extend %remove-ends-vertical-margin;
    }

    &.is-two-columns {
      column-count: 2;
    }
  }

  .metas {
    flex: 0 0 33.333%;
    order: 0;
    padding-right: var(--gutter);
  }
}
